adf/pipeline/PL_ING_07_03_ADLSXMLCheck.json
{
	"name": "PL_ING_07_03_ADLSXMLCheck",
	"properties": {
		"activities": [
			{
				"name": "Select 1 file by wildcard and last modified date",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_ING_07_ADLSGetFiles",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FwkItem": {
							"value": "@pipeline().parameters.FwkItem",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "IfMissingFile",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Select 1 file by wildcard and last modified date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(length(activity('Select 1 file by wildcard and last modified date').output.pipelineReturnValue['outputFileName']), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CopyActivity",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "spi_IngtLogInsert_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ING_07_03_ADLSXMLLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FwkItem": {
										"value": "@pipeline().parameters.FwkItem",
										"type": "Expression"
									},
									"EntRunId": {
										"value": "@pipeline().parameters.EntRunId",
										"type": "Expression"
									},
									"ModuleRunId": {
										"value": "@pipeline().parameters.ModuleRunId",
										"type": "Expression"
									},
									"FileName": {
										"value": "@activity('Select 1 file by wildcard and last modified date').output.pipelineReturnValue['outputFileName'][0]['name']",
										"type": "Expression"
									},
									"FilePath": {
										"value": "@activity('Select 1 file by wildcard and last modified date').output.pipelineReturnValue['outputFilePath']",
										"type": "Expression"
									},
									"PL_01TriggerTime": {
										"value": "@pipeline().parameters.PL_01TriggerTime",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "spi_IngtLogInsert_copy1",
							"description": "Executes the SP spi_IngtLogInsert to insert record into IngtLog table with the execution module information.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spi_IngtLogInsert]",
								"storedProcedureParameters": {
									"IngtOutputId": {
										"value": {
											"value": "@pipeline().parameters.FwkItem['IngtOutputId']",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"EntRunId": {
										"value": {
											"value": "@pipeline().parameters.EntRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ModuleRunId": {
										"value": {
											"value": "@pipeline().parameters.ModuleRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineStatus": {
										"value": {
											"value": "InProgress",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartDate": {
										"value": {
											"value": "@formatdatetime(pipeline().TriggerTime)",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"RowsCopied": {
										"value": null,
										"type": "Int64"
									},
									"CopyDuration": {
										"value": null,
										"type": "Double"
									},
									"Throughput": {
										"value": null,
										"type": "Double"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@if(contains(pipeline().parameters.FwkItem['Path'], '*'), activity('Select 1 file by wildcard and last modified date').output.pipelineReturnValue[0]['name'], null)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_configurationDB",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "spi_IngtLogInsert",
							"description": "Executes the SP spi_IngtLogInsert to insert record into IngtLog table with the execution module information.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spi_IngtLogInsert]",
								"storedProcedureParameters": {
									"IngtOutputId": {
										"value": {
											"value": "@pipeline().parameters.FwkItem['IngtOutputId']",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"EntRunId": {
										"value": {
											"value": "@pipeline().parameters.EntRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ModuleRunId": {
										"value": {
											"value": "@pipeline().parameters.ModuleRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineStatus": {
										"value": {
											"value": "Skipped - Missing source file",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartDate": {
										"value": {
											"value": "@formatdatetime(pipeline().TriggerTime)",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"RowsRead": {
										"value": null,
										"type": "Int64"
									},
									"RowsCopied": {
										"value": null,
										"type": "Int64"
									},
									"CopyDuration": {
										"value": null,
										"type": "Double"
									},
									"Throughput": {
										"value": null,
										"type": "Double"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"FileName": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_configurationDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FwkItem": {
				"type": "array"
			},
			"PL_01TriggerTime": {
				"type": "string"
			},
			"EntRunId": {
				"type": "string"
			},
			"ModuleRunId": {
				"type": "string"
			}
		},
		"folder": {
			"name": "01 Ingestion Module/07 ADLS"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-06T08:29:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}