etl_framework-master/adf/pipeline/PL_EXP_00_ExportMaster.json
{
	"name": "PL_EXP_00_ExportMaster",
	"properties": {
		"activities": [
			{
				"name": "If has active instructions",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Has active instructions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Has active instructions').output.firstRow['Result']",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute PL_EXP_01_RunExport",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_EXP_01_RunExport",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EntRunId": {
										"value": "@pipeline().parameters.EntRunId",
										"type": "Expression"
									},
									"EntTriggerTime": {
										"value": "@pipeline().parameters.EntTriggerTime",
										"type": "Expression"
									},
									"FwkTriggerId": {
										"value": "@pipeline().parameters.FwkTriggerId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Has active instructions",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sps_HasActiveExpInstructions]",
						"storedProcedureParameters": {
							"FwkTriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.FwkTriggerId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Configuration",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"EntRunId": {
				"type": "string"
			},
			"EntTriggerTime": {
				"type": "string"
			},
			"FwkTriggerId": {
				"type": "string"
			}
		},
		"folder": {
			"name": "03 Export Module"
		},
		"annotations": []
	}
}