etl_framework-master/adf/pipeline/PL_ING_01_02_PreProcessIngestion.json
{
	"name": "PL_ING_01_02_PreProcessIngestion",
	"properties": {
		"activities": [
			{
				"name": "sp_FwkLogInsert",
				"description": "Executes the SP spi_FwkLogInsert to insert record into FwkLog table with the execution module information by pipeline id and with null status.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spi_FwkLogInsert]",
					"storedProcedureParameters": {
						"EntRunId": {
							"value": {
								"value": "@pipeline().parameters.EntRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Module": {
							"value": {
								"value": "Ingestion",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModuleRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"StartDate": {
							"value": {
								"value": "@formatdatetime(pipeline().TriggerTime)",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ADFTriggerName": {
							"value": {
								"value": "@pipeline().parameters.ADFTriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_configurationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If PreTransformationNotebookRun",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupDtLayer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n    greater(activity('LookupDtLayer').output.count, 0),\n    not(equals(activity('LookupDtLayer').output.value[0]['PreTransformationNotebookRun'], null))\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DT_RunPreTransformationNotebook",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "sp_FwkLogInsert_PreIngestion",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@concat('/Code/compartment/', activity('LookupDtLayer').output.value[0]['PreTransformationNotebookRun'])",
									"type": "Expression"
								},
								"baseParameters": {
									"FwkTriggerId": {
										"value": "@pipeline().parameters.FwkTriggerId",
										"type": "Expression"
									},
									"ADFTriggerName": {
										"value": "@pipeline().parameters.ADFTriggerName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_databricks",
								"type": "LinkedServiceReference",
								"parameters": {
									"ClusterId": {
										"value": "@activity('LookupDtLayer').output.value[0]['ClusterId']",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "sp_UpdatePreIngestionLog_succeeded",
							"description": "Executes the SP spu_FwkLogUpdate to update the record created by the ‘InsertIntoFwkLog’ activity in the table ‘FwkLog’ by updating the columns ‘PipelineStatus’ to ‘Success’.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DT_RunPreTransformationNotebook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spu_FwkLogUpdate]",
								"storedProcedureParameters": {
									"ModuleRunId": {
										"value": {
											"value": "@concat(pipeline().RunId, '-pre')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineStatus": {
										"value": {
											"value": "Succeeded",
											"type": "Expression"
										},
										"type": "String"
									},
									"JobRunUrl": {
										"value": {
											"value": "@activity('DT_RunPreTransformationNotebook').output.runPageUrl",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_configurationDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "sp_UpdatePreIngestionLog_failed",
							"description": "Executes the SP spu_FwkLogUpdate to update the record created by the ‘InsertIntoFwkLog’ activity in the table ‘FwkLog’ by updating the columns ‘PipelineStatus’ to ‘Success’.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DT_RunPreTransformationNotebook",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spu_FwkLogUpdate]",
								"storedProcedureParameters": {
									"ModuleRunId": {
										"value": {
											"value": "@concat(pipeline().RunId, '-pre')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineStatus": {
										"value": {
											"value": "Failed",
											"type": "Expression"
										},
										"type": "String"
									},
									"JobRunUrl": {
										"value": {
											"value": "@activity('DT_RunPreTransformationNotebook').output.runPageUrl",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_configurationDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "sp_FwkLogInsert_PreIngestion",
							"description": "Executes the SP spi_FwkLogInsert to insert record into FwkLog table with the execution module information by pipeline id and with null status.",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spi_FwkLogInsert]",
								"storedProcedureParameters": {
									"EntRunId": {
										"value": {
											"value": "@pipeline().parameters.EntRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Module": {
										"value": "Ingestion > PreTransformationNotebook",
										"type": "String"
									},
									"ModuleRunId": {
										"value": {
											"value": "@concat(pipeline().RunId, '-pre')",
											"type": "Expression"
										},
										"type": "String"
									},
									"StartDate": {
										"value": {
											"value": "@formatdatetime(pipeline().TriggerTime)",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ADFTriggerName": {
										"value": {
											"value": "@pipeline().parameters.ADFTriggerName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_configurationDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "setPreTransformationNotebookOutput",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "sp_UpdatePreIngestionLog_succeeded",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varPreTransformationNotebookOutput",
								"value": {
									"value": "@string(activity('DT_RunPreTransformationNotebook').output)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_UpdatePreIngestionExecutionLog_failed",
				"description": "Executes the SP spu_FwkLogUpdate to update the record created by the ‘InsertIntoFwkLog’ activity in the table ‘FwkLog’ by updating the columns ‘PipelineStatus’ to ‘Success’.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If PreTransformationNotebookRun",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spu_FwkLogUpdate]",
					"storedProcedureParameters": {
						"ModuleRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"JobRunUrl": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_configurationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupDtLayer",
				"description": "Executes the SP ‘sps_LookupDtLayer’ to get the information about DtLayer .",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sp_FwkLogInsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sps_LookupDtLayer]",
						"storedProcedureParameters": {
							"DtOrder": {
								"type": "Int32",
								"value": {
									"value": "@if(equals(pipeline().parameters.FwkTriggerId, 'Deployment'),  -100, -1)",
									"type": "Expression"
								}
							},
							"FwkLayerId": {
								"type": "String",
								"value": null
							},
							"FwkTriggerId": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.FwkTriggerId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Configuration",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "IfStopETL",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IfWorkflowDefined",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(contains(json(variables('varPreTransformationNotebookOutput')), 'runOutput'),\n\tif(contains(json(variables('varPreTransformationNotebookOutput')).runOutput, 'stopETL'), \n\t\tjson(variables('varPreTransformationNotebookOutput')).runOutput['stopETL'], \n\t\t'false'\n\t),\n'false')\n\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute ProcessIngestion",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_ING_01_03_ProcessIngestion",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EntRunId": {
										"value": "@pipeline().parameters.EntRunId",
										"type": "Expression"
									},
									"EntTriggerTime": {
										"value": "@pipeline().parameters.EntTriggerTime",
										"type": "Expression"
									},
									"FwkTriggerId": {
										"value": "@pipeline().parameters.FwkTriggerId",
										"type": "Expression"
									},
									"LookupDtLayerOutput": {
										"value": "@activity('LookupDtLayer').output",
										"type": "Expression"
									},
									"ModuleRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"ADFTriggerName": {
										"value": "@pipeline().parameters.ADFTriggerName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "setOutputStopETLResult",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute ProcessIngestion",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "outputStopETL",
										"value": {
											"type": "Expression",
											"content": "@activity('Execute ProcessIngestion').output.pipelineReturnValue['outputStopETL']"
										}
									}
								],
								"setSystemVariable": true
							}
						},
						{
							"name": "setOutputStopETLResult_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute ProcessIngestion",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "outputStopETL",
										"value": {
											"type": "Expression",
											"content": "@activity('Execute ProcessIngestion').output.pipelineReturnValue['outputStopETL']"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "sp_UpdatePreIngestionExecutionLog_stopped",
							"description": "",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[spu_FwkLogUpdate]",
								"storedProcedureParameters": {
									"ModuleRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineStatus": {
										"value": {
											"value": "Stopped - Request from PreTransformationNotebook",
											"type": "Expression"
										},
										"type": "String"
									},
									"JobRunUrl": {
										"value": null,
										"type": "String"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_configurationDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "setOutputStopETLTrue",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "sp_UpdatePreIngestionExecutionLog_stopped",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "outputStopETL",
										"value": {
											"type": "Boolean",
											"content": true
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			},
			{
				"name": "IfWorkflowDefined",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If PreTransformationNotebookRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(contains(json(variables('varPreTransformationNotebookOutput')), 'runOutput'),\n\tif(contains(json(variables('varPreTransformationNotebookOutput')).runOutput, 'workflow'),\n\t\tcontains(string(json(variables('varPreTransformationNotebookOutput')).runOutput), 'WorkflowId'),\n\t\t'false'\n\t),\n'false')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute PL_TriggerWorkflow",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_TriggerWorkflow",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Workflow": {
										"value": "@json(variables('varPreTransformationNotebookOutput')).runOutput['workflow']",
										"type": "Expression"
									},
									"EntRunId": {
										"value": "@pipeline().parameters.EntRunId",
										"type": "Expression"
									},
									"Module": "Ingestion"
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_UpdateWorkflowExecutionLog_failed",
				"description": "Executes the SP spu_FwkLogUpdate to update the record created by the ‘InsertIntoFwkLog’ activity in the table ‘FwkLog’ by updating the columns ‘PipelineStatus’ to ‘Success’.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IfWorkflowDefined",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spu_FwkLogUpdate]",
					"storedProcedureParameters": {
						"ModuleRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineStatus": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"JobRunUrl": {
							"value": null,
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_configurationDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "setOutputStopOnFailurePreIngestionFailure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "sp_UpdatePreIngestionExecutionLog_failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "outputStopETL",
							"value": {
								"type": "Boolean",
								"content": true
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "setOutputStopOnFailureWorkflowFailure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "sp_UpdateWorkflowExecutionLog_failed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "outputStopETL",
							"value": {
								"type": "Boolean",
								"content": true
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"EntRunId": {
				"type": "string"
			},
			"EntTriggerTime": {
				"type": "string"
			},
			"FwkTriggerId": {
				"type": "string"
			},
			"FwkLayerId": {
				"type": "string"
			},
			"ADFTriggerName": {
				"type": "string"
			}
		},
		"variables": {
			"varPreTransformationNotebookOutput": {
				"type": "String",
				"defaultValue": "{}"
			}
		},
		"folder": {
			"name": "01 Ingestion Module"
		},
		"annotations": []
	}
}